.DS_Store
coverage/
node_modules/
test-results/
cjs/*
!cjs/package.json
core.*
!docs/core.js
!docs/core.js.map
pyscript.js
!esm/custom/pyscript.js
esm/worker/xworker.js
esm/worker/__template.js
types/
esm/python/
esm/3rd-party/*.js
dist/
