# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20]

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: python -m venv env
    - run: source env/bin/activate
    - run: pip install --upgrade pip
    - run: pip install --ignore-requires-python python-minifier
    - run: pip install setuptools
    - run: npm ci
    - run: npx playwright install chromium
    - run: npm run build
    - run: npm run test
